 td {
    border-bottom: 1px solid rgb(236, 210, 210);
  }
  #table1 td{
    border-bottom: 1px solid rgba(236, 210, 210, 0);
  }
  h1{
    color:rgb(119, 83, 218);
}
  h2{
      color:rgb(43, 20, 105);
  }
  body
{
    font-family: "Comic Sans MS";
}
a:link{
    color:rgb(1, 0, 3);
    text-decoration: none;
}
  a:visited {
    color:rgb(21, 9, 54);
  }
  
  a:hover {
    color: rgb(88, 83, 148);
    transform : scale(2);
    
}
  html{
    border: 3px  double rgb(119, 83, 218);
    padding:50px;
  }
  body {
    background-color: #f0e4ed;
    font-size: 16px;
    margin-left:200px; margin-right:100px; margin-top:100px; margin-bottom:100px;
    max-width: 1000px;

  }
